---
import i18next, { t, changeLanguage, setDefaultNamespace } from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
import MainHead from "../../components/MainHead.astro";
import PageBanner from "../../components/PageBanner.astro";
import DetailedCard from "../../components/DetailedCard.astro";
import DesicriptionTerm from "../../components/DesicriptionTerm.astro";
import ContactForm from "../../components/ContactForm.jsx";
import Footer from "../../components/Footer.astro";
import Nav from "../../components/Nav.jsx";
import { ArticleTitle, SectionTitle } from "../../components/Stateless";
import LanguageSelectorWrapper from "../../components/LanguageSelectorWrapper.astro";
import { getNavTranslations } from "../../utils/index";

changeLanguage("en");

setDefaultNamespace("services");
const navTranslations = getNavTranslations(t);
const customsProcedures = [
    {
        title: t("R\u00E9gimen de declaraci\u00F3n a consumo/ Definitivo"),
        descriptionList: [
            t("Nacionalizaci\u00F3n"),
            t("Servicio de declaraci\u00F3n de mercanc\u00EDa para importaci\u00F3n con el fin del pago de los derechos de importaci\u00F3n (impuestos y otros) y comercio local"),
            t("Exportaci\u00F3n"),
            t("Servicio de declaraci\u00F3n de mercanc\u00EDa y operaciones en puerto para exportaci\u00F3n"),
        ],
    },
    {
        title: t("Reg\u00EDmenes de suspensi\u00F3n de derechos de importaci\u00F3n"),
        descriptionList: [
            t("Internaci\u00F3n temporal o Admisi\u00F3n temporal sin transformaci\u00F3n"),
            t("Servicio de declaraci\u00F3n de mercanc\u00EDa que permite la entrada al pa\u00EDs con el fin de cumplir un prop\u00F3sito, por un tiempo limitado"),
            // t(""),
            // t("Servicio de declaraci\u00F3n de mercanc\u00EDa que permite la entrada al pa\u00EDs con el fin de cumplir un prop\u00F3sito, por un tiempo limitado"),
            t("Admisi\u00F3n temporal para perfeccionamiento activo"),
            t("Servicio de declaraci\u00F3n de mercanc\u00EDa que permite la entrada al pa\u00EDs con el fin de ser sometida a un proceso de perfeccionamiento"),
            t("Admisi\u00F3n temporal para perfeccionamiento activo:"),
            t("Servicio de declaraci\u00F3n de mercanc\u00EDa que permite la entrada al pa\u00EDs con el fin de ser sometida a un proceso de perfeccionamiento Las actividades que entran en el rengl\u00F3n de perfeccionamiento son: transformaci\u00F3n, montaje, ensamblaje, adaptaci\u00F3n, reparaci\u00F3n, restauraci\u00F3n, acondicionamiento"),
        ],
    },
    {
        title: t("Leyes especiales"),
        descriptionList: [
            t("Exoneraci\u00F3n (Ley 4027)"),
            t("Servicio de gesti\u00F3n y tr\u00E1mite de beneficio de descargo pago de derechos de importaci\u00F3n de mercanc\u00EDa mediante resoluci\u00F3n del ministerio de hacienda gaceta oficial, leyes que lo amparen"),
            t("Zona Franca (Ley 8-90)"),
            t("Servicio de declaraci\u00F3n de mercanc\u00EDa en el r\u00E9gimen legal que tiene como beneficio el descargo de pago de derechos de importaci\u00F3n, impuesto sobre la renta y otras obligaciones tributarias"),
            t("Mudanza (Ley 14-93)"),
            t("Servicio de declaraci\u00F3n de ajuares del hogar y efectos personales con la aplicaci\u00F3n de beneficios parciales a los ciudadanos dominicanos que vienen retirados del extranjero"),
            t("Exoneraciones parciales de veh\u00EDculos (Ley 168)"),
            t("Servicio de gesti\u00F3n y tr\u00E1mite de beneficio de pago parcial de derechos de importaci\u00F3n de veh\u00EDculos de ciudadanos que viven en el exterior"),
        ],
    },
    {
        title: t("Otros reg\u00EDmenes aduaneros"),
        descriptionList: [
            t("Reembarque"),
            t("Servicio de declaraci\u00F3n de mercanc\u00EDa que no fueron nacionalizadas para ser remitida al exterior"),
            t("Tr\u00E1nsito Internacional"),
            t("Servicio de declaraci\u00F3n de mercanc\u00EDa que permite el paso de dicha mercanc\u00EDa por el pa\u00EDs para dirigirse a su destino final"),
            t("Tr\u00E1nsito Local"),
            t("Servicio de declaraci\u00F3n de mercanc\u00EDa que permite el traslado de dicha mercanc\u00EDa de una aduana local a otra, con el objetivo del pago de los derechos de importaci\u00F3n"),
        ],
    },
];
const otherServices = [
    {
        title: t("Cambio de r\u00E9gimen aduanero"),
        description: t("Servicio de tramite y gesti\u00F3n de cambio de r\u00E9gimen aduanero"),
    },
    {
        title: t("Fiscalizaci\u00F3n y conciliaci\u00F3n ante la DGA"),
        description: t("Servicio de representaci\u00F3n de un importador ante un proceso de fiscalizaci\u00F3n y conciliaci\u00F3n"),
    },
    {
        title: t("Tr\u00E1mite de permisos para importaci\u00F3n y exportaci\u00F3n"),
        description: t("Servicios de gesti\u00F3n y tramite de consentimientos requeridos para la importaci\u00F3n/ exportaci\u00F3n de mercanc\u00EDa"),
    },
    {
        title: t("Tr\u00E1mite de primera placa equipos y veh\u00EDculos"),
        description: t("Servicio de gesti\u00F3n y tramite de primera placa de veh\u00EDculos y equipos, placas exoneradas y placas temporales"),
    },
    {
        title: t("Traspaso de matr\u00EDcula y placa de equipos"),
        description: t("Servicios de gesti\u00F3n y tramite de cesi\u00F3n de derecho de una persona f\u00EDsica/jur\u00EDdica a otra"),
    },
    {
        title: t("Transporte Terrestre"),
        description: t("Coordinaci\u00F3n de servicio de transporte para mercanc\u00EDa en puertos y dep\u00F3sitos")
    },
    {
        title: t("Transporte Mar\u00EDtimo"),
        description: t("Servicio de transporte mar\u00EDtimo para contenedores y carga suelta")
    },
    {
        title: t("Consolidaci\u00F3n"),
        description: t("Servicio de transporte de carga agrupadas")
    },
    {
        title: t("Otro tipo de exoneraciones"),
        description: ""
    }
];
---

<html lang={i18next.language}>
    <head>
        <MainHead title={t("page.title")} description={t("page.description")} />
        <HeadHrefLangs />
        <style>
            .card-title {
                /* -webkit-box-shadow: 0px 29px 23px -4px rgba(0, 0, 0, 0.13);
                box-shadow: 0px 29px 23px -4px rgba(0, 0, 0, 0.13); */

                /* -webkit-box-shadow: 0px 20px 17px -12px rgba(0, 0, 0, 0.13);
                box-shadow: 0px 20px 17px -12px rgba(0, 0, 0, 0.13); */

                -webkit-box-shadow: 0px 20px 17px -12px rgba(0, 0, 0, 0.31);
                box-shadow: 0px 20px 17px -12px rgba(0, 0, 0, 0.31);
            }
        </style>
    </head>
    <!-- bg-gradient-to-b from-white to-gray-100 -->
    <body class="">
        <Nav
            location="services"
            translations={navTranslations}
            language={i18next.language}
            client:load
            ><LanguageSelectorWrapper />
        </Nav>
        <PageBanner
            alt="A blue container being moved by an out of frame crane"
            disableBannerBar={true}
            title={t("Servicios")}
            image="/images/moving_container.jpg"
            titleClasses="block text-indigo-600 invisible"
        />
        <main>
            <div
                class="relative bg-gradient-to-b from-white to-gray-100 px-4 pt-8 pb-4 sm:px-6 lg:px-8 lg:pt-8 lg:pb-8 card-title rounded-b-lg mx-4"
            >
                <div class="absolute inset-0"></div>
                <div class="relative mx-auto max-w-7xl">
                    <div>
                        <!-- border-b-2 py-4 border-fulvous-100 -->
                        <h2
                            class="text-center lg:text-left text-3xl font-semibold tracking-tight text-dodger-blue-500 sm:text-4xl"
                        >
                            {t("Gestiones Aduanales")}
                        </h2>
                        <p
                            class="mt-3 lg:max-w-2xl text-center lg:text-left text-xl text-gray-500 sm:mt-4"
                        >
                            {
                                t(
                                    "Son todos los servicios relacionados al proceso de regímenes aduaneros para la importación/exportación de mercancía"
                                )
                            }
                        </p>
                    </div>
                    <div
                        class="mx-auto mt-12 grid max-w-lg gap-5 lg:max-w-none lg:grid-cols-4"
                    >
                        {
                            customsProcedures.map((procedures) => (
                                <DetailedCard {...procedures} />
                            ))
                        }
                    </div>
                    <aside class="block">
                        <p class="p-5 font-thin text-fulvous-400">
                            {
                                t(
                                    "Todas los servicios de declaraciones llevan a la par las operaciones en puerto a menos que no sean solicitadas por el cliente"
                                )
                            }
                        </p>
                    </aside>
                </div>
            </div>
            <div
                class="card-title rounded-b-lg mx-6 py-10 bg-gradient-to-t from-white via-gray-50 to-gray-100 mb-1"
            >
                <div class="mx-auto pt-6 max-w-7xl">
                    <article class="mx-2 md:mx-6 self-center">
                        <h2
                            class="text-3xl font-bold tracking-tight text-dodger-blue-500 sm:text-4xl"
                        >
                            {
                                t(
                                    "Asesoría en comercio internacional y gestiones aduanales"
                                )
                            }
                        </h2>
                        <p class="mt-3 max-w-2xl text-xl text-gray-500 sm:mt-4">
                            {
                                t(
                                    "Servicio de consulta e información de procesos relacionados a los regímenes aduaneros para la importación/ exportación de mercancía"
                                )
                            }
                        </p>
                    </article>
                </div>
            </div>
            <div class="card-title mx-6 py-10 rounded-b-lg pb-10">
                <div class="mx-auto pt-6 max-w-7xl">
                    <h2
                        class="md:mx-6 text-3xl font-bold tracking-tight text-dodger-blue-500 sm:text-4xl"
                    >
                        {t("Otros trámites y gestiones")}
                    </h2>
                    <div class="my-5 md:mx-6">
                        <article class="space-y-6">
                            {
                                otherServices.map(({ title, description }) => {
                                    return (
                                        <ul>
                                            <li class="list-disc text-xl font-semibold leading-6 text-gray-500 ">
                                                {title}
                                            </li>
                                            <li class="mt-2 text-lg text-gray-500">
                                                {description}
                                            </li>
                                        </ul>
                                    );
                                })
                            }
                        </article>
                    </div>
                </div>
            </div>
        </main>
        <Footer />
    </body>
</html>
