---
const { title, description, icon, href, linkText } = Astro.props;
---

<div class="relative h-full flex flex-col">
    <div
        class="absolute top-1 mx-6 h-3 bg-gradient-to-b from-white/40 via-white/15 to-transparent rounded-b-2xl"
    />

    <div
        class="relative bg-white/10 backdrop-blur-sm rounded-xl border border-white/20 p-6 pb-8 shadow-lg flex-1 text-left overflow-hidden"
    >
        <span
            class="inline-flex items-center justify-center shadow-md rounded-2xl bg-fulvous-300 p-3"
        >
            <img class="h-8 w-8 lg:h-10 lg:w-10" src={icon} />
        </span>
        <h3 class="mt-4 text-xl font-medium tracking-tight text-white">
            {title}
        </h3>
        {
            description && (
                <p class="mt-2 text-base text-white/80">{description}</p>
            )
        }
        {
            href && (
                <a
                    href={href}
                    class="text-fulvous-300 hover:text-fulvous-100"
                >
                    {linkText}
                </a>
            )
        }

        <div class="absolute bottom-0 inset-x-0 h-2 bg-fulvous-300"></div>
    </div>
</div>
